# --- Ignore Data & Heavy Folders ---
dataset/
runs/
OLD/

# --- Python & System Junk ---
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.DS_Store
.env
venv/

# --- Ignore Heavy Models (Except the best one) ---
*.pt
!models/best.pt
